<!DOCTYPE html>
<head>
    <title>Shopping</title>

    <%- include('../views/partials/head.ejs') %> 

</head>
<body>

    <%- include('../views/partials/nav.ejs') %>

    <div id="main-container" class="container">

        <% if(locals.addProdForm) { %>
            <%- include('../views/partials/forms/addProduct.ejs') %>
        <% } else if (locals.addUserForm) { %> 
            <%- include('../views/partials/forms/addUser.ejs') %> 
        <% } %> 
        
        <div class="col-12 justify-content-center">

            <% if(locals.loginForm){ %> 
                <%- include('../views/partials/forms/login.ejs') %>
            <% } else if (locals.registerForm) { %> 
                <%- include('../views/partials/forms/register.ejs') %>
            <% } else if (locals.addUserForm) { %> 
                <%- include('../views/partials/tables/users.ejs') %> 
            <% } else { %> 
                <%- include('../views/partials/tables/shopping-list.ejs') %>
            <% } %> 

        </div>

    </div>
</body>
</html>